$lightGreen: #40bfa3;
$lightBlue: #99ccff;
$lightRed: rgb(245 , 170 , 190);
$lightPink: #fdece4;
$nordeaBlue: #0000a0;
$darkBlue: #00005e;
$hoverBlue: #3399ff;
$lightGrey: #f9f9f9;
$box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.2);
